body {
    font-family: 'Roboto', sans-serif, arial;
}

#mainwrapper-inner {
    overflow: hidden;
}

.navbar-default {
    margin: 0 -16px 30px -16px;
    background-color: #3498db;
    border-radius: 0px !important;
}

.logo-header {
    height: 40px;
    position: relative;
    top: -12px;
}

.form-width-outer {
    width: calc( 100% - 230px - 226px);
}

.input-group {
    width: 100%
}

#input-width {
    width: 80%;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

.nav a:hover {
    background-color: #2ecc71 !important;
    color: white !important;
    font-weight: 900;
}

.rating-p {
    display: flex;
    width: 100%;
}

.rating,
.total-rate {
    width: 50%;
    margin: 10px 0;
}

.list-group a:active {
    background-color: red;
}

.content {
    padding-left: 0px;
    padding-right: 0px;
}

#obrollan {
    cursor: pointer;
    position: fixed;
    z-index: 12000;
    width: 250px;
    right: 0%;
    bottom: 0%;
    border: 1px solid #eaeaea;
    background-color: white;
}

#obrollan-user {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 12000;
    width: 250px;
    right: 300px;
    bottom: 0%;
    border: 1px solid #eaeaea;
    background-color: white;
}

.icon-obrollan {
    color: green;
}

.icon-inside-msg {
    padding-right: 8px;
}

.obrollan-inner,
.obrollan-user-inner {
    padding: 8px;
}

#obrollan-content {
    display: none;
    margin: 0px;
    padding: 8px;
    background-color: #eaeaea;
}

#obrollan-user-content {
    margin: 0px;
    max-height: 300px;
    padding: 8px;
    overflow: auto;
    background-color: #eaeaea;
}

.obrollan-item,
.obrollan-item-parent {
    padding: 4px;
    list-style: none;
    border-bottom: 1px solid #d0d0d0;
}

.avatar {
    width: 30px;
    height: auto;
    margin-right: 16px;
}

#landing-footer {
    border-top: 1px solid #eaeaea;
    height: 50px;
    background-color: white;
}

.landing-footer-inner {
    position: relative;
    top: 12px;
}

.landing-footer-inner ul {
    float: right;
    text-align: right;
}

.landing-footer-inner li {
    display: inline-block;
}

.landing-footer-inner li a {
    margin: 0 12px;
}

@media (max-width: 767px) {
    .logo-header {

        height: 30px;
        position: relative;
        margin-top: 8px;
    }
    .dropdown-menu {
        background-color: white !important;
    }
    .form-width-outer {
        width: 100%;
    }
    .icon-bar {
        background-color: white !important;
    }
    .navbar-form {
        padding: 0px;
        margin: 8px 0;
    }
    .input-group {
        width: 100%;
    }
    #input-width {
        width: calc(100% - 39px);
    }
    .col-xs-12 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .caret {
        display: none;
    }
    .navbar-collapse {
        max-height: 100%;
    }
    .navbar-default .navbar-nav > li > ul.dropdown-menu > li > h4 {
        display: none;
    }
    .settings-nav:after {
        content: "\00a0 \00a0 Settings";
    }
    .msg-nav:after {
        content: "\00a0 \00a0 Message";
    }
    .profil-nav:after {
        content: "\00a0 \00a0 Profil";
    }
    .text-copyright {
        text-align: center;
    }
}
