body {
	font-family: 'Roboto', sans-serif, arial;
}
.navbar-default {
    background-color: #3498db;
    border-radius: 0px;
}

.logo-header {
    height: 40px;
    position: relative;
    top: -12px;
}

.nav a:hover {
    background-color: #2ecc71 !important;
    color: white !important;
    font-weight: 900;
}

.width-nav {
	width: 700px;
}

.rating-p {
	display: flex;
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.rating, .total-rate {
	width: 50%;
	margin: 10px 0;
}
