  body {
      width: 100vw;
      height: 100vh;
      background: url(../img/background.jpg);
      font-size: 12px;
      background-color: #eaeaea;
      font-family: 'Roboto', sans-serif, arial;
  }
  
  .container-login {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background: rgba(0, 0, 0, .7);
  }
  
  .main {
      margin-top: 30px;
      max-width: 380px;
      margin: 30px auto auto auto;
      background-color: #fff;
      padding: 32px;
      border-radius: 9px;
      border: 1px solid #D7D7D7;
  }
  
  .login-or {
      position: relative;
      font-size: 18px;
      color: #aaa;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  .btn-social {
      font-weight: 900;
  }
  
  .span-or {
      display: block;
      position: absolute;
      left: 50%;
      top: -2px;
      margin-left: -25px;
      background-color: #fff;
      width: 50px;
      text-align: center;
  }
  
  .hr-or {
      background-color: #cdcdcd;
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }
  
  h3 {
      text-align: center;
      line-height: 300%;
  }
