body {
    font-family: 'Roboto', sans-serif, arial;
}

#mainwrapper {
    background: url(../img/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mainwrapper-inner {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px 0 16px;
    overflow-x: hidden;
}

.landing-container {
    margin: 0 auto;
    max-width: 992px;
}

.navbar-default {
    margin: 0 -16px 0 -16px;
    background-color: #fff;
    border-radius: 0px !important;
}

.logo-header {
    height: 40px;
    position: relative;
    top: -12px;
}

.nav a:hover {
    background-color: #2ecc71 !important;
    color: white !important;
    font-weight: 900;
}

#input-width {
    width: auto;
}

.search-button {
    margin-left: 8px;
}

.login-button {
    margin-left: 8px;
    font-weight: 900;
}

#content-outer {
    margin-top: -20px;
    width: 100%;
    height: calc(100% - 52px);
    display: table;
}

#content {
    vertical-align: middle;
    color: white;
    display: table-cell;
}

.button-container {
    margin-bottom: 16px;
}

#landing-footer {
    margin: 0 -16px 0 -16px;
    height: 50px;
    background-color: white;
}

.landing-footer-inner {
	position: relative;
	top: 12px;
}

.landing-footer-inner ul {
	float: right;
    text-align: right;
}

.landing-footer-inner li {
	display: inline-block;
}

.landing-footer-inner li a {
	margin: 0 12px;
}

.landing-container h1,
.landing-container h2 {
    font-weight: 900;
}

.btn-agree {
    background-color: #eaeaea;
    color: #333;
}

.btn-agree:hover {
    box-shadow: 0 0 12px #3498db;
}

.term-link {
	font-weight: 900;
	color: white;
}

@media (max-width: 767px) { 
    .input-group {
        width: 100%;
        text-align: center;
    }
    #input-width {
        width: 70%;
    }
    .input-group .search-button, .input-group .login-button {
        width: 13%;
        margin: 0 1%;
    }   
}